@using AuthManager.Web.Views.Shared.Components.NavBar; 
@using AuthManager.Web.Views.Shared.Components.SideBar; 
@using AuthManager.Web.Views.Shared.Components.Footer; 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <title>Auth Manager • @ViewData["Title"]</title>

    @await RenderSectionAsync("Css", required: false)
    <partial name="_Styles" />
</head>
<body class="hold-transition sidebar-mini pace-primary">
    <div class="wrapper">

        @(await Component.InvokeAsync<NavBarViewComponent>())
        @(await Component.InvokeAsync<SideBarViewComponent>())

        @RenderBody()

        @*@(await Component.InvokeAsync<RightSidebarViewComponent>())*@

        @(await Component.InvokeAsync<FooterViewComponent>())
    </div>

    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_Scripts" />
</body>
</html>
